# <font face = 'Impact' color = '#FFAEBC' > Data cleaning through imputation techniques <font/>
#### <font face = 'Times New Roman' color = '#B5E5CF'> License: GPL v3.0<font/>
#### <font face = 'Times New Roman' color = '#B5E5CF'> Author and Trainer: Paolo Hilado MSc. (Data Science)<font/>
This notebook provides a practical introduction to handling missing data through various imputation techniques. You'll explore methods such as mean, median, and mode imputation, as well as forward/backward fill, group-wise strategies, and a brief look at more advanced approaches like interpolation and model-based imputation. The goal is to equip you with the tools to clean and prepare datasets effectively for analysis or modeling.

In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import researchpy as rp

In [2]:
# Load the dataset
df = pd.read_excel("PracticeTest.xlsx")
df.head(5)

,Sex,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,Female,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,Female,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,Male,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,Male,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,NaN,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [3]:
#Checking for NAs or missing cases
df.isnull().values.any()

np.True_

In [5]:
# For curiosity, you may subset the dataframe to include all rows that is made up of all missing cases and view them.
missing_df1= df[df.isnull().all(axis=1)] # take a subset to include all rows with missing cases
missing_df2= df[df.isnull().any(axis=1)] # take a subset to include any row with missing cases

In [6]:
missing_df1

Empty DataFrame
Columns: [Sex, Item1, Item2, Item3, Item4, Item5, Item6, Item7, Item8, Item9, Item10, Item11, Item12, Item13, Item14, Item15, Item16, Item17, Item18, Item19, Item20, Item21, Item22, Item23, Item24, Item25, Item26, Item27, Item28, Item29, Item30]
Index: []

[0 rows x 31 columns]

In [7]:
missing_df2

,Sex,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
4,NaN,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0
11,Male,2.0,4.0,3.0,4.0,4.0,3.0,2.0,1.0,2.0,...,1.0,2.0,2.0,2.0,3.0,2.0,4.0,3.0,2.0,NaN
33,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,4.0,4.0,2.0,2.0,3.0
51,Female,1.0,2.0,3.0,4.0,2.0,4.0,2.0,2.0,1.0,...,5.0,2.0,4.0,4.0,2.0,NaN,NaN,NaN,NaN,4.0
53,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Male,3.0,4.0,2.0,5.0,2.0,5.0,2.0,2.0,5.0,...,4.0,2.0,4.0,3.0,2.0,3.0,NaN,NaN,NaN,NaN
78,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,2.0,4.0,2.0,3.0
95,Male,NaN,NaN,NaN,NaN,3.0,4.0,2.0,5.0,5.0,...,5.0,4.0,2.0,2.0,2.0,1.0,5.0,2.0,3.0,2.0
158,Female,1.0,3.0,1.0,4.0,2.0,3.0,1.0,4.0,1.0,...,5.0,1.0,4.0,4.0,2.0,NaN,NaN,NaN,NaN,4.0
184,Female,2.0,2.0,3.0,1.0,3.0,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,1.0,4.0,4.0,3.0,3.0
185,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,4.0,1.0,3.0,2.0,5.0
210,Female,3.0,2.0,1.0,5.0,2.0,2.0,1.0,2.0,1.0,...,5.0,2.0,2.0,2.0,4.0,5.0,3.0,2.0,5.0,3.0
229,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,3.0,2.0,4.0,2.0,2.0
299,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Male,5.0,3.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,...,5.0,1.0,3.0,1.0,2.0,3.0,4.0,NaN,NaN,NaN
367,Male,NaN,NaN,NaN,NaN,1.0,2.0,2.0,4.0,5.0,...,2.0,2.0,2.0,1.0,3.0,1.0,2.0,2.0,2.0,3.0
382,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,Male,3.0,4.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN,...,1.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,3.0,4.0
410,Female,4.0,2.0,2.0,3.0,2.0,2.0,1.0,4.0,4.0,...,1.0,2.0,3.0,4.0,2.0,4.0,2.0,2.0,4.0,NaN
427,Male,1.0,3.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,2.0,1.0,3.0,1.0,5.0,4.0
432,Female,4.0,1.0,1.0,5.0,3.0,2.0,5.0,5.0,1.0,...,2.0,1.0,4.0,1.0,1.0,3.0,5.0,4.0,4.0,3.0
439,Female,5.0,1.0,4.0,2.0,NaN,NaN,NaN,NaN,2.0,...,5.0,2.0,4.0,1.0,5.0,1.0,4.0,1.0,2.0,1.0

In [8]:
# Check out the descriptive analysis results using .describe() which excludes missing cases.
df.describe().T

        count      mean       std  min  25%  50%  75%  max
Item1   448.0  2.395089  1.347024  1.0  1.0  2.0  3.0  5.0
Item2   448.0  3.044643  1.223472  1.0  2.0  3.0  4.0  5.0
Item3   448.0  1.866071  0.992099  1.0  1.0  2.0  2.0  5.0
Item4   448.0  3.459821  1.357123  1.0  2.0  4.0  5.0  5.0
Item5   450.0  2.475556  1.016820  1.0  2.0  2.0  3.0  5.0
Item6   446.0  3.152466  1.289223  1.0  2.0  3.0  4.0  5.0
Item7   446.0  2.896861  1.551553  1.0  2.0  2.0  5.0  5.0
Item8   446.0  3.125561  1.545540  1.0  2.0  4.0  5.0  5.0
Item9   447.0  3.111857  1.573610  1.0  2.0  4.0  5.0  5.0
Item10  451.0  3.015521  1.653879  1.0  2.0  2.0  5.0  5.0
Item11  451.0  2.880266  1.581514  1.0  2.0  2.0  5.0  5.0
Item12  451.0  3.716186  1.525831  1.0  2.0  4.0  5.0  5.0
Item13  450.0  3.782222  1.555691  1.0  2.0  5.0  5.0  5.0
Item14  450.0  2.997778  1.574432  1.0  2.0  2.0  5.0  5.0
Item15  450.0  2.786667  1.633120  1.0  1.0  2.0  5.0  5.0
Item16  449.0  2.530067  1.558276  1.0  1.0  2.0  4.0  5.0
Item17  450.0  2.940000  1.564771  1.0  2.0  2.0  5.0  5.0
Item18  450.0  3.537778  1.565111  1.0  2.0  4.0  5.0  5.0
Item19  450.0  3.226667  1.631319  1.0  2.0  4.0  5.0  5.0
Item20  450.0  2.873333  1.656317  1.0  2.0  2.0  5.0  5.0
Item21  450.0  3.300000  1.600738  1.0  2.0  4.0  5.0  5.0
Item22  450.0  1.975556  1.056037  1.0  1.0  2.0  2.0  5.0
Item23  450.0  3.342222  1.327538  1.0  2.0  3.0  5.0  5.0
Item24  451.0  2.955654  1.286782  1.0  2.0  3.0  4.0  5.0
Item25  455.0  2.657143  1.122962  1.0  2.0  3.0  3.0  5.0
Item26  453.0  2.688742  1.174124  1.0  2.0  3.0  3.0  5.0
Item27  452.0  3.595133  1.243082  1.0  3.0  4.0  5.0  5.0
Item28  451.0  2.235033  1.134398  1.0  1.0  2.0  3.0  5.0
Item29  451.0  2.445676  1.161818  1.0  2.0  2.0  3.0  5.0
Item30  451.0  2.312639  1.075916  1.0  1.0  2.0  3.0  5.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     458 non-null    object
 1   Item1   448 non-null    float64
 2   Item2   448 non-null    float64
 3   Item3   448 non-null    float64
 4   Item4   448 non-null    float64
 5   Item5   450 non-null    float64
 6   Item6   446 non-null    float64
 7   Item7   446 non-null    float64
 8   Item8   446 non-null    float64
 9   Item9   447 non-null    float64
 10  Item10  451 non-null    float64
 11  Item11  451 non-null    float64
 12  Item12  451 non-null    float64
 13  Item13  450 non-null    float64
 14  Item14  450 non-null    float64
 15  Item15  450 non-null    float64
 16  Item16  449 non-null    float64
 17  Item17  450 non-null    float64
 18  Item18  450 non-null    float64
 19  Item19  450 non-null    float64
 20  Item20  450 non-null    float64
 21  Item21  450 non-null    float64
 22  Item22  450 non-null    float64
 23  Item23  450 non-null    float64
 24  Item24  451 non-null    float64
 25  Item25  455 non-null    float64
 26  Item26  453 non-null    float64
 27  Item27  452 non-null    float64
 28  Item28  451 non-null    float64
 29  Item29  451 non-null    float64
 30  Item30  451 non-null    float64
dtypes: float64(30), object(1)
memory usage: 111.3+ KB

In [10]:
# Determine the columns in the data frame that have missing cases.
missing_columns = df.isnull().sum()
# Show only columns with at least one missing value
# missing_columns = missing_columns[missing_columns > 0]
missing_columns

Sex        1
Item1     11
Item2     11
Item3     11
Item4     11
Item5      9
Item6     13
Item7     13
Item8     13
Item9     12
Item10     8
Item11     8
Item12     8
Item13     9
Item14     9
Item15     9
Item16    10
Item17     9
Item18     9
Item19     9
Item20     9
Item21     9
Item22     9
Item23     9
Item24     8
Item25     4
Item26     6
Item27     7
Item28     8
Item29     8
Item30     8
dtype: int64

In [19]:
# Doing mean imputation
# Check out the mean for each feature
# exclude sex variables
ndf = df.iloc[:, 1:31]
ndf

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,1.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,5.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,1.0,4.0,3.0,5.0,2.0,4.0,5.0,2.0,2.0,2.0,...,4.0,1.0,4.0,2.0,3.0,2.0,4.0,4.0,3.0,1.0
455,1.0,4.0,1.0,3.0,3.0,3.0,2.0,5.0,4.0,5.0,...,4.0,4.0,2.0,5.0,3.0,3.0,3.0,2.0,2.0,2.0
456,2.0,5.0,1.0,5.0,1.0,4.0,5.0,5.0,5.0,5.0,...,1.0,1.0,4.0,3.0,1.0,2.0,5.0,1.0,3.0,2.0
457,4.0,4.0,4.0,5.0,2.0,2.0,2.0,2.0,4.0,5.0,...,2.0,1.0,2.0,1.0,3.0,4.0,4.0,3.0,4.0,5.0
458,1.0,5.0,2.0,5.0,2.0,5.0,2.0,2.0,4.0,2.0,...,4.0,2.0,2.0,2.0,3.0,2.0,5.0,4.0,2.0,3.0

In [21]:
ndf.iloc[:, 1:31].mean()

Item2     3.044643
Item3     1.866071
Item4     3.459821
Item5     2.475556
Item6     3.152466
Item7     2.896861
Item8     3.125561
Item9     3.111857
Item10    3.015521
Item11    2.880266
Item12    3.716186
Item13    3.782222
Item14    2.997778
Item15    2.786667
Item16    2.530067
Item17    2.940000
Item18    3.537778
Item19    3.226667
Item20    2.873333
Item21    3.300000
Item22    1.975556
Item23    3.342222
Item24    2.955654
Item25    2.657143
Item26    2.688742
Item27    3.595133
Item28    2.235033
Item29    2.445676
Item30    2.312639
dtype: float64

In [22]:
# Perform mean imputation for each column in your dataframe 
ndf.fillna(np.round(ndf.mean(),2), inplace=True)
ndf.head()

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,1.0,2.00,1.00,5.00,2.0,3.0,1.0,5.0,4.0,1.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,5.0,5.00,1.00,4.00,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,2.0,5.00,1.00,3.00,3.0,2.0,5.0,1.0,5.0,2.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,2.0,4.00,1.00,5.00,2.0,3.0,2.0,2.0,2.0,5.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,2.4,3.04,1.87,3.46,4.0,2.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [23]:
# Load the dataset
df = pd.read_excel("PracticeTest.xlsx")
df.head(5)

,Sex,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,Female,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,Female,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,Male,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,Male,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,NaN,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [25]:
ndf1 =df.iloc[:, 1:31]
ndf1.head()

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,1.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,5.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [26]:
# Doing median imputation
# Check out the median for each feature
ndf1.median()

Item1     2.0
Item2     3.0
Item3     2.0
Item4     4.0
Item5     2.0
Item6     3.0
Item7     2.0
Item8     4.0
Item9     4.0
Item10    2.0
Item11    2.0
Item12    4.0
Item13    5.0
Item14    2.0
Item15    2.0
Item16    2.0
Item17    2.0
Item18    4.0
Item19    4.0
Item20    2.0
Item21    4.0
Item22    2.0
Item23    3.0
Item24    3.0
Item25    3.0
Item26    3.0
Item27    4.0
Item28    2.0
Item29    2.0
Item30    2.0
dtype: float64

In [27]:
# Perform median imputation for each column in your dataframe
ndf1.fillna(ndf1.median(), inplace=True)
ndf1.head()

,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,Item10,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,1.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,5.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,2.0,3.0,2.0,4.0,4.0,2.0,5.0,4.0,1.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [28]:
# Load the dataset
df = pd.read_excel("PracticeTest.xlsx")
df.head(5)

,Sex,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,Female,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,Female,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,Male,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,Male,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,NaN,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

In [29]:
# Check out the frequently occuring observation for variable Sex
df['Sex'].mode()

0    Male
Name: Sex, dtype: object

In [30]:
# Perform mode imputation for column Sex
df['Sex'] = df['Sex'].fillna(df['Sex'].mode()[0])
df.head(5)

,Sex,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Item9,...,Item21,Item22,Item23,Item24,Item25,Item26,Item27,Item28,Item29,Item30
0,Female,1.0,2.0,1.0,5.0,2.0,3.0,1.0,5.0,4.0,...,4.0,2.0,4.0,3.0,4.0,1.0,2.0,1.0,2.0,4.0
1,Female,5.0,5.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,4.0,3.0,1.0,3.0,3.0
2,Male,2.0,5.0,1.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2.0,2.0,3.0,4.0,2.0,5.0,3.0,2.0,1.0,2.0
3,Male,2.0,4.0,1.0,5.0,2.0,3.0,2.0,2.0,2.0,...,2.0,2.0,3.0,4.0,2.0,4.0,5.0,1.0,3.0,2.0
4,Male,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,...,5.0,1.0,5.0,3.0,4.0,4.0,2.0,2.0,2.0,3.0

# <font color = '#FFAEBC' > Remember that these basic data imputation techniques should be used with caution and avoided as much as possible. <font/>


# <font color = '#FFAEBC' > It is always of best practice to verify with the primary source and input the accurate data. When the missing value can be computed using existing features from the data frame, this is also a good alternative. <font/>